.productList {
	background-color: var(--background);
	padding-bottom: 5%;
	min-height: 100vh;
	padding-bottom: 80vh;
	.sortandall {
		display: flex;
		justify-content: space-between;
		margin-inline: 3%;
		padding-top: 2vh;
	}
	label {
		font-size: 2vh;

		select {
			font-size: 2vh;
			color: var(--select);
			border: none;
			background: transparent;
			-webkit-appearance: none;
			width: 25vw;
			margin-left: 1vw;
			&:focus {
				outline: none;
			}
		}
	}
}

@media (min-width: 900px) {
	.productList {
		label {
			font-size: 4vh;
			select {
				font-size: 4vh;
			}
		}
	}
}
